html {
  background-color: #eceff1;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.header__title {
  font-size: 18px;
  font-weight: lighter;
  color: #5a6371;
  text-transform: uppercase;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery__item {
  cursor: pointer;
  margin: 10px;
  position: relative;
}

.gallery__item__icon {
  color: #FFF;
  text-align: center;
  position: absolute;
  top: 23px;
  left: 33px;
  display: none;
}

.gallery__item:hover .preview {
  background-color: rgba(0, 0, 0, 0.3);
}

.gallery__item:hover .gallery__item__icon {
  display: block;
}

.preview {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  transition: all .2s ease-in-out;
}

.color-picker input {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  display: block;
  margin-top: 20px;
}

.add-rectangle__content {
  display: flex;
}

.add-rectangle__preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-rectangle__button {
  margin-top: 30px;
}

@media (max-width: 600px) {
  .add-rectangle__content {
    display: block;
    overflow: hidden;
  }

  .add-rectangle__preview {
    margin-top: 20px;
  }

  .add-rectangle__button {
    width: 100%;
  }
}